/*body*/
body{
  background-image: url("../img/Backr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-attachment: fixed;
    width: 95%;
    height: 95%;
}

.logo{
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 25px;
  width: 236px;
  height: 46px;
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-position: top;*/
}

.image{
  
}

.form{
   
   /* height: 30%;
    width: 80%;*/
    margin-left: 17px;
    margin-top: 44px;
}
.DISCOVER-Your-Data {
  width: 439px;
  height: 103px;
  font-family:"Nexa Light";
  font-size: 49px;
  font-weight: 300px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
    margin-bottom: 80px;
}

.data{
    font-family: "Nexa Bold";
}

/* Login*/
.Rounded-Rectangle-4 {
  width: 438px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 32px 0 rgba(45, 60, 240, 0.11);
  
   
  background-image:  rgba(45, 60, 240, 0.11);
}
/*# texte login*/

.user {
  width: 438px;
  height: 50px;
  border-radius: 25px;
  font-family: "Nexa";
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-color: rgb(38,213,197);
  background:linear-gradient(to bottom, #081b4a, #102967);
    

 

   
}
.test{
    margin-bottom: 12px;
}

/*# MDP*/
.Rounded-Rectangle-4-copy {
  width: 438px;
  height: 50px;
  border-radius: 25px;
  border-color: none;
  box-shadow: 0px 4px 32px 0 rgba(45, 60, 240, 0.11);
 /* border: solid 2px #149de4;*/
  margin-top: 20px;
  background-image: linear-gradient(to bottom, #081b4a, #102967);
}
/*#Connexion*/

.Rounded-Rectangle-5 {
  width: 246px;
  height: 44px;
  border-radius: 22px;
 /* box-shadow: 0px 4px 32px 0 rgba(45, 60, 240, 0.26);*/
  background-image: linear-gradient(to bottom, #3a09f3, #139aeb);
  margin-left: 104.5.5px;
   border-style: none;
    
 
}
/*#Text Connexion*/

.CONNEXION {
  width: 105px;
  height: 14px;
  margin-left: 2px;
  font-family: 'Nexa';
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  border-style: none;
}
/*
# Bonde Discover your Data*/
.Rounded-Rectangle-3 {
  width: 130px;
  height: 4px;
  border-radius: 2px;
  font-family:"Nexa Bold";
  background-image: linear-gradient(267deg, #14e087, #6ec1f3);
}
.iconMain{
    position: absolute;
    margin: 50px;
        top: 371px;
    left: 369px;
}
.iconPassword{
    width:35px;
    height:35px;
}

.butt{
    margin-left: 95px;
    margin-top: 19px;
}
.bod{
    margin: 20px;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: beige;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: beige;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: beige;
}
